body {font-family: arial, "Open Sans", sans-serif;}

/*commom*/
.col-sm-12 {
	background: url(../images/line.png) left center repeat-x
}

/*page-header*/
.page-header {
	border-bottom: none;
	margin: 0;
	background: #eee;
	padding-bottom: 40px;
}


h1 {
	display: inline-block;
	font-weight: 700;
	color: #5c5c5c;
	font-family: "Lobster";

}

h2 {
	text-align: center;
	font-weight: 400;
	background: #f8f8f8;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	margin-bottom: 10px;
	padding-bottom: 6px;
}

h3 {
	font-size: 25px;
	font-weight: 300;

}
#logo {
	position: absolute;
	width: 80px;
	left: 50%;
	display: inline-block;
	text-align: center;
}

#logo img {
	width: 80px;
}

.page-header .container {
}


.page-header ul {
	display: inline-block;
	float: right;
}

.page-header ul li {
	width: 36px;
	height: 36px;
	float: left;
	margin: 0 10px;
}

.page-header ul li i {
	cursor: pointer;
	font-size: 38px;
	width: 36px;
	height: 36px;
	text-align: center;
	vertical-align: middle;
}

.page-header ul li:nth-child(1) i {
	color: #D9A79C;
}
.page-header ul li:nth-child(2) i {
	color: #ADC0D9;
}
.page-header ul li:nth-child(3) i {
	color: #B3A3C8;
}
/*slider*/
.flexslider {
	border: 0;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
}

.flex-control-nav {
	display: none;	
}

/*search*/
.search-container {
	text-align: center;
}

.search-container p {
	letter-spacing: 20px;
	font-size: 30px;
}

@keyframes inputShadow {
	0% {
		box-shadow: none;
	}

	100% {
		box-shadow: 0 0 50px #ccc;
	}
}
input[type=text] {
	border: 1px solid #ccc;
	outline: medium;
	height: 45px;
	width: 200px;
	border-radius: 21px;
	padding-left: 13px;
	color: #9d9d9d;
}
input[type=text]:focus {
	-webkit-animation-name: inputShadow;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}

input[type=submit] {
	background: url(../images/search.png) no-repeat;
	border:none;
	outline: medium;
	text-indent: -9999px;
	width: 41px;
	height: 26px;
	margin-left: -40px;
	opacity: .4;
}

.search-container i {
	position: absolute;
}

.search-container .jumbotron {
	margin-bottom: 0;
}

/*type*/
.type-container {
	padding-bottom: 26px;
	margin-bottom: 15px;
}

.type-container h3 {
	font-weight: 400;
	color: #888;
}

.type-container i {
	font-size: 95px;
	display: block;
	cursor: pointer;	
	-webkit-transition: all .5s ease-in .05s;
	transition: all .5s ease-in .05s;
}
.type-container i:hover {
	-webkit-transform: scale(1.4) ;
	transform: scale(1.4) ;
}
.type-container a {
	display: inline-block;
	padding: 5px 22px;
	background: #fe503e;
	color: #fff;
	font-style: italic;
	text-decoration: none;
}

.type-container .col-sm-3 {
	text-align: center;
}

.type-container .col-sm-3:nth-child(1) i {
	color: #285171;
}

.type-container .col-sm-3:nth-child(2) i {
	color: #82C0AF;
}

.type-container .col-sm-3:nth-child(3) i {
	color: #DAD4B9;
}

.type-container .col-sm-3:nth-child(4) i {
	color: #D8B368;
}


/*digital*/
.digital-container {
	text-align: center;
	background: #f8f8f8;
	margin-bottom: 25px;
}

.digital-container img {
	max-width: 100%;

}

/*clothes*/
.clothes-container {
	text-align: center;
	margin-bottom: 25px;
}

.clothes-container img {
	max-width: 100%;
}

.clothes-container h2 {
	background: #fff ;
}




/*sports*/
.sports-contaniner {
	margin-bottom: 25px;
}

.sports-container h2 {
	background: #fff ;
}

.sports-select ul li:first-child {
	margin-left: 50px;
}
.sports-select ul li:nth-child(2) {
	float: right;
	margin-right: 50px;
}

/*book*/
.book-container {
	background: #f8f8f8;
	margin-bottom: 25px;
}
.book-container .book-img {
	text-align: center;
}

.book-container img {
	max-width: 100%;
	margin: 0 auto;
}





















